<nav>
    <h1>Merch Route</h1>
    <div class="links">
        <ul>
            <li><a routerLink="/maps">
                <img width="40px" height="40px" src="https://img.icons8.com/dotty/80/000000/booking.png"/>
            </a></li>
            <li><a routerLink="/salespersons">
                <img width="40px" height="40px" src="https://img.icons8.com/dotty/80/000000/business-network.png"/>
            </a></li>
            <li><a routerLink='/route-plan'>
                <img width="40px" height="40px" src="https://img.icons8.com/dotty/80/000000/sorting-arrows-horizontal.png"/>
            </a></li>
            <li><a routerLink="/login">Logout</a></li>
        </ul>
    </div>
</nav>