<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-4">
        <mat-form-field appearance="fill">
            <mat-label>Salesperson</mat-label>
            <mat-select>
              <mat-option *ngFor="let salesperson of salespersons" [value]="salesperson.id">
                {{salesperson.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-4" >
        <label for="date">Pick the date:</label>
        <input type="date" id="date" name="birthday">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-primary">Look</button>
    </div>
</div>
<hr>
<div class="container" style="margin: 40px;">
    <agm-map [latitude]="latitude" [longitude]="longitude"  [zoom]="zoom">
        <agm-marker *ngFor = "let post of positions" [latitude]="post.latitude" [longitude]="post.longitude"></agm-marker>
    </agm-map>    
</div>
